	/*Element*/
	
	li {}
	
	
	/* class*/
	
	.hello {}
	
	
	/*id*/
	
	#special {}
	
	link: https: //code.tutsplus.com/tutorials/the-30-css-selectors-you-must-memorize--net-16048
	
	/*star*/
	
	
	/*selects everything*/
	
	* {
	border: 1px solid lightgrey;
	}
	
	
	/*descendant selector */
	
	li a {
	color: red;
	}
	
	
	/*adjacent selector*/
	
	h4+ul {
	color: red;
	}
	
	
	/*attribute selector*/
	
	a[href="http://www.google.com"] {
	background: blue;
	}
	
	input[type="text"] {
	background: blue;
	}
	
	/*nth of type*/
	ul:nth-of-type(3){
	background: purple;
	}

	li:nth-of-type(3)
	{
		background: purple
	}